<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        body{ margin: 0;}
        #topIframe{ height: 90px; width: 100%; position: absolute; top: 0; left: 0}
        {##leftIframe{ border: 1px solid #23ff2a;}#}
        #leftIframe{ width:15%; height: 85%; position: absolute; top: 90px;}
        #rightIframe{ width:85%; height: 85%; position: absolute; top: 90px; left: 15%}


    </style>

</head>
<body>
<div  id="topIframe"><iframe src="/sucapp/top" height="100%" width="100%" scrolling="no"></iframe></div>
<iframe id="leftIframe" src="/sucapp/left"></iframe>
<iframe id="rightIframe" src="/sucapp/index" name="rightFrame"></iframe>


</body>
</html>